<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>AngularJS auth sample</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body ng-app="app">

  <div ng-controller="main as ctrl">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref="users">Users</a></li>
          <li ng-if="ctrl.isAuthenticated"><button class="btn btn-default navbar-btn" ng-click="ctrl.disconnect()">Disconnect</button></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <ui-view></ui-view>
    </div>
  </div>

  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-cookies/angular-cookies.js"></script>
  <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="js/app.js"></script>
  <script src="js/run.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/components/home.js"></script>
  <script src="js/components/users.js"></script>
  <script src="js/components/login.js"></script>
  <script src="js/services/auth.js"></script>
  <script src="js/services/users.js"></script>

</body>

</html>